.container {
    h1 {
        font-family: 'Regular';
        font-size: 20px;
        margin-top: 1em;
    }
    p {
        font-size: 14px;
        color: gray;
        margin-bottom: 5px;
        font-family: 'Regular';
    }

    .imageContainer {
        width: 250px;
        height: 300px;
        position: relative;
        img {
            object-fit: cover;
        }
    }
}